.link.active {
    background-color: #008CBA;
    color: white;
}

.link:hover:not(.active) {
    background-color: darkcyan;
    color: white;
}

#navBar h2 {
    text-align: center;
    padding: auto;
}

.navBar {
    margin: 0;
    padding: 0;
    height: 352px;
    background-color: #f1f1f1;
    left: 0;
    top: 0;
}

.link {
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}